@import 'global/mixins';

.page-header{
  background-color: rgba(0, 0, 0, 0.1);
  width: 1200px;
  margin: 0 auto;
}
.page-header__logo{
  margin-left: 140px;
  margin-right: 50px;
}

.wrapper{
  display: flex;
}

.main-nav__list{
  display: flex;
  justify-content: space-between;
.site-list__item{
  list-style: none;
  width: 170px;
  a{
    padding: 5px;
    color: $color;
    text-decoration: none;

  }

}
}
