// Цвет текста
$colorw: #F2F2F2; 
$colorb: rgba(40, 54, 69, 1);
$colorr: rgba(210, 40, 86, 1);

// цвет фона
$bgcolorgr: rgba(29, 38, 49, 1);
$bgcolorg: rgba(242, 242, 242, 1);
$bgcolorw:  #FFF;

// развер @media

$desktop-width: 1200px;
$tablet-width: 660px;
$mobile-width: 320px;

@mixin size($width: 0px, $height: 0px) {
  width: $width;
  height: $height;
}
@mixin magic($reduce: $size) {
  width: $size;
  height: $size;
}

@mixin magic($bgcolor) {
  background-color: $color;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
