.page__body{
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
 background-image: url(/source/img/back-desktop.jpg);
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-attachment: local;

}
